.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.masthead h1,
.masthead .h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
  }

  .masthead h1,
  .masthead .h1 {
    font-size: 5.5rem;
  }
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand.7s cubic-bezier(.19,1.000,.22,1.000);
  animation: tracking-in-expand.7s cubic-bezier(.19,1.000,.22,1.000);
}