.content-section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.content-section-heading h2,
.content-section-heading .h2 {
  font-size: 3rem;
}

.content-section-heading h3,
.content-section-heading .h3 {
  font-size: 1rem;
  text-transform: uppercase;
}

.bg-projects {
  background-color: #064635;
}

.service-icon {
  height: 7rem;
  width: 7rem;
  display: block;
  line-height: 7.5rem;
  font-size: 2.25rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.logo-react-pg {
  background-color: #fff;
}

.logo-rails {
  background: #d30001;
}

.logo-rails-img {
  filter: brightness(0) invert(1);
}

.react-logo {
  pointer-events: none;
}

.logo-js {
  background-color: #fcdc00;
}

@media (prefers-reduced-motion: no-preference) {
  .react-logo {
    animation: React-logo-spin infinite 20s linear;
  }
}

.rounded-circle {
  border-radius: 50% !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

@keyframes React-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
